<div id="sub_div">	
	<div class="subpage_titlebox business" style=" ">
		<div class="subpage_textbox inner">
			<p class="subpage_title">Business Proposals</p>
			<p class="subpage_article">With the independent spirit to see the ordinary from a different perspective,<br>VISANG is creating a new global educational culture.</p>
			<br>
			<p class="subpage_article">We, IMAGEONE is a franchiser in Myanmar who owns the exclusive right to produce WINGs’ digital contents and physical contents in Myanmar.</p>
		</div>
	</div>
	<div class="inner inner_x">
        <div id="business_proposal">
        <div class="inner">
        <p class="business_bigtext">
            We are here to answer your questions<br>
            <b>Contact us if you have any <strong><span class="strong">inquiries, feedback, or questions</span></strong></b>
        </p>
        <ul class="business_howto clearfix">
            <li>
                <div class="howto_circle"><img src="https://global.visang.com/theme/basic/img/icon_sub11_sales.png" alt=""></div>
                <p class="howto_text">Sales inquiry</p>
            </li>
            <li>
                <div class="howto_circle"><img src="https://global.visang.com/theme/basic/img/icon_sub11_partnership.png" alt=""></div>
                <p class="howto_text">Partnership inquiry</p>
            </li>
            <li>
                <div class="howto_circle"><img src="https://global.visang.com/theme/basic/img/icon_sub11_demo.png" alt=""></div>
                <p class="howto_text">Demo</p>
            </li>
            <li>
                <div class="howto_circle"><img src="https://global.visang.com/theme/basic/img/icon_sub11_pricing.png" alt=""></div>
                <p class="howto_text">Price and contract inquiry</p>
            </li>
            <li>
                <div class="howto_circle"><img src="https://global.visang.com/theme/basic/img/icon_sub11_call.png" alt=""></div>
                <p class="howto_text">Call us</p>
            </li>
        </ul>
        </div>
        <div class="row business_contact">
            <div class="col-md-12">
                <div class="d-inline-block">
                    <img src="icon_sub11_paper plane.png" alt="" class="mr-4">
                </div>
                <div class="d-inline-block text-left valign-middle">
                    <p class="cb_title">Contact Us</p>
                    <p class="cb_article">Click the icon to the left to<br>make a proposal to IMAGEONE.</p>
                </div>
            </div>
        </div>
        <div class="business_contact_2">
            <div class="contact_btn">
                <div class="contact_btn_left call-icon icon-wrapper">
                    <a href="tel:+959898900858">
                        <img src="phone-call.png" alt="">
                    </a>
                </div>
                <div class="contact_btn_right">
                    <p class="cb_title fs-1">Call Now!</p>
                    {{!-- <p class="cb_article">Click the icon to the left to<br>make a proposal to IMAGEONE.</p> --}}
                </div>
            </div>
        </div>
        {{!-- <div class="business_contact_2">
        <div class="inner">
            <p class="bc_bigtext">Agent Recruitment</p>
            <p class="bc_smalltext">
                The use of education agents to recruit international partners is becoming increasingly common around the world.<br>
                We look forward to having you as a competent agent promoting Visang products.
            </p>
        </div>
        </div> --}}
        </div>

        <div class="business_popup_wrapper">
            <div class="business_popup_bg" onclick="popOff();"></div>
            <div class="business_popup">
                <p class="popup_title">Contact Us</p>

                <div class="popup_exit" onclick="popOff();"><img src="https://global.visang.com/theme/basic/img/icon_close.png" alt=""></div>

                <div class="res">
                    <form name="frm" id="frm" onsubmit="return fnSubmit()" action="./ajax.submit.php">
                        <input type="hidden" name="bo_table" value="res">
                        <div class="popup_group">
                            <p class="res_title" style="color:#00b2e2;">Required Information</p>
                            <div class="popup_inputs clearfix">
                                <input type="text" placeholder="Title" name="wr_subject" class="res_input" required="">
                                <input type="text" placeholder="Email" name="wr_email" class="res_input" required="">
                                <input type="text" placeholder="First Name" name="wr_1" class="res_input" required="">
                                <input type="text" placeholder="Last Name" name="wr_2" class="res_input" required="">
                                <select class="res_input" name="wr_3">
                                    <option>Select Category</option>
                                    <option>Sales inqury</option>
                                    <option>Partnership inqury</option>
                                    <option>Price and contract inqury</option>
                                    <option>Call us</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="popup_group">
                            <p class="res_title">Sub Information I</p>
                            <div class="popup_inputs clearfix">
                                <input type="text" placeholder="Country" name="wr_4" class="res_input" required="">
                                <input type="text" placeholder="Telephone Number" name="wr_5" class="res_input" required="">
                                <input type="text" placeholder="Organization Name" name="wr_6" class="res_input" required="">
                                <select class="res_input" name="wr_7">
                                    <option>Organization Type</option>
                                    <option>Public School</option>
                                    <option>Private School</option>
                                    <option>International School</option>
                                    <option>Education Organization</option>
                                    <option>Other</option>
                                </select>
                                <select class="res_input" name="wr_8">
                                    <option>Anticipated Plan</option>
                                    <option>1~500 students</option>
                                    <option>500~1000 students</option>
                                    <option>1000~5000 students</option>
                                    <option>5000+ students</option>
                                </select>
                                <input type="text" placeholder="Homepage" name="wr_9" class="res_input">
                            </div>
                        </div>
                        <div class="popup_group">
                            <p class="res_title">Sub Information II</p>
                            <div class="popup_inputs clearfix">
                                <select class="res_input" name="wr_10">
                                    <option>Interested in our brand</option>
                                    <option>Wings</option>
                                    <option>Challenge</option>
                                    <option>Action Alphabet</option>
                                    <option>englisheye</option>
                                    <option>Elif</option>
                                    <option>math</option>
                                    <option>AllviA</option>
                                    <option>Quiz Monster</option>
                                </select>
                                <select class="res_input" name="wr_11">
                                    <option>How did you find us?</option>
                                    <option>Exhibition</option>
                                    <option>Ads</option>
                                    <option>Online searching</option>
                                    <option>Social media</option>
                                    <option>Recommendation</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="popup_message">
                            <p class="res_title">Message</p>
                            <textarea class="res_textarea" name="wr_content" placeholder="Type your message" required=""></textarea>
                        </div>
                        <div class="popup_check">
                            <p class="check_info">
                            Visang collects the following personal data from corporate users and individual users who wish to use the service:<br><br>
                            1. Personal data collected: (required) Company name, name of proposer, email address, phone number, homepage (optional)<br>
                            Purpose of collection and use of personal information: Secure communication channels according to purpose, and verify identity of users <br>
                            3. Period of data collection and retention: After the review of the related information is completed, user inquiry data is stored for 3 months, after which it is destroyed without delay.<br>
                            You may refuse to consent to the collection and use of personal information, in which case the service will be limited.<br>
                            For other matters, please refer to the Visang privacy policy.
                            </p>
                            <p class="check">
                                <input type="checkbox" name="chk" id="chk" value="1">
                                <label for="chk">I agree to the above collection and use of personal information.</label>
                            </p>
                        </div>
                        <div class="popup_submit">
                            <input type="submit" value="Send" class="res_btn_submit">
                        </div>
                    </form>
                </div>
            </div>

        </div>
	</div>    
</div>