<div id="sub_div">	
	<div class="subpage_titlebox privacy" style=" ">
		<div class="subpage_textbox inner">
			<p class="subpage_title">PRIVACY POLICY</p>
			<p class="subpage_article"><br><br></p>
		</div>
	</div>
	<div class="inner">
		<div id="privacy_policy">
			<div class="privacy_0">
				<p class="maintitle">IMAGEONE Co., Ltd. Privacy Policy</p>
				<p class="article">
					IMAGEONE Co., Ltd. values users&#39; personal information, and always do the best to protect
					the familes’ personal information. IMAGEONE Co., Ltd. guarantees the rights of users, and
					informs visitors about the processing (collection, use, destruction) of personal information
					and protection measures. If you choose to use our service, then you agree to the following
					privacy policy of ours.
				</p>
			</div>

			<div class="privacy_1 article">
				<p class="title">1.	Collection of Personal Information</p>
				<ul class="list">
					<li class="article_head">IMAGEONE Co., Ltd. collects information by dividing into mandatory and optional items so that only the minimum personal information necessary for service provision is collected, and the user's consent must be obtained in advance.</li>
				</ul>

				<ul class="list">
				<li class="article_head">We collect personal information when a parent (“Parent” or “You”) downloads and uses the App with the purposes below for the exact items we collect:</li>
			</ul>

				{{!-- <p>▶ Information collected at the time of need</p> --}}
				<div class="table-width">
					<table class="privacy_table">
					<tbody>
					<tr style="text-align: center;">
						<th colspan="2">Purpose</th>
						<th>Items of personal information to be collected</th>
						<th style="width: 200px;">Retention period</th>
					</tr>
					<tr>
						<td rowspan="16" style="width: 200px;">Membership registration and managemen</td>
						<td rowspan="3" style="width: 300px;">Identification</td>
						<td>
							<tr>Mobile phone authentication: Name of member (student, parent, teacher, general), date of birth, mobile phone number</tr>
						</td>
						<td rowspan="6">Discard immediately after confirmation</td>
					</tr>
					<tr>
						<td>Email: Membership category (student, parent, teacher, general) name, date of birth, email</td>
					</tr>
					<tr>
						<td>I-PIN authentication: member category (student, parent, teacher, general), i-PIN ID</td>
					</tr>
					<tr>
						<td rowspan="3">Identification under the age of 14</td>
						<td>Mobile phone authentication: name, date of birth, mobile phone number</td>
					</tr>
					<tr>
						<td>Email verification: name, date of birth, email</td>
					</tr>
					<tr>
						<td>I-PIN authentication: I-PIN ID</td>
					</tr>
					<tr>
						<td>Identification of legal representative</td>
						<td>Parent's name, parent's mobile phone number</td>
						<td rowspan="3">It will be destroyed immediately after membership withdrawal. However, the information below is kept for a certain period for the following reasons.</td>
					</tr>
					<tr>
						<td rowspan="2">Sign Up</td>
						<td>Required: Membership classification (student, parent, teacher, general), name, date of birth, mobile phone number, ID, password, grade, line phone number, e-mail address, legal representative information for those under 14</td>
					</tr>
					<tr>
						<td>Choice: Gender, School, Address, Enrollment Path, Subjects of Interest, Referral</td>
					</tr>
					<tr>
						<td rowspan="2">Find ID + Forgot Your Password</td>
						<td>Email verification: full name, email</td>
						<td rowspan="18">ID: Permanently stored to prevent duplicate subscriptions and manage posts. Order payment information: Stored for up to 5 years for the purpose of preventing and responding to illegal activities.</td>
					</tr>
					<tr>
						<td>Mobile/home phone: Name, mobile phone number or home phone number</td>
					</tr>
					<tr>
						<td>Prevention of illegal use of bad members, prevention of unauthorized use, prevention of duplicate subscription</td>
						<td>ID, email, mobile phone number</td>
					</tr>
					<tr>
						<td>Handling civil complaints such as customer consultation and complaint handling</td>
						<td>Name, ID, email, mobile phone number</td>
					</tr>
					<tr>
						<td>Preservation of records to resolve disputes</td>
						<td>ID, name, mobile phone number, general phone number, postal code, address, payment method, card type, approval number, installment type, payment amount, discount method, PG transaction number</td>
					</tr>
					<tr>
						<td>Customer service satisfaction survey</td>
						<td>ID, name, access environment, cognitive path, interest learning field, interest teacher style, learning style, site visit purpose, textbook cognitive path, textbook purchase path, textbook evaluation, content of interest</td>
					</tr>
					<tr>
						<td>Member management</td>
						<td>ID, name, date of birth, email, membership classification, membership registration date, recent access date, latest access IP, latest member information modification date</td>
					</tr>
					<tr>
						<td rowspan="4">Service provision (contract fulfillment/ charge settlement)</td>
						<td>Event winning result information and prize delivery</td>
						<td>ID, name, mobile phone number, address, email</td>
					</tr>
					<tr>
						<td>Goods delivery</td>
						<td>ID, name, mobile phone number, email, zip code, address, invoice number</td>
					</tr>
					<tr>
						<td>Purchase and payment</td>
						<td>ID, name, payment method, card type, approval number, installment type, payment amount, discount method, PG transaction number</td>
					</tr>
					<tr>
						<td>Account depositor refund process</td>
						<td>Account number, bank name, account holder name, parent's contact information</td>
					</tr>
					<tr>
						<td rowspan="5">Used for new service development marketing and advertisement</td>
						<td>Providing optimized services to users (customized service)</td>
						<td>Sibling information (name, school name, grade, mobile phone number), private education information (school name, tutoring, other private education), prospective member (expected ID, name, mobile phone number), interested grade information (middle school 1, 2, 3rd grade selection), customized course setting (grade, textbook publisher), customized learning management (middle school 1st, 2nd, 3rd grade’s school record)</td>
					</tr>
					<tr>
						<td>New service/product development and specialization</td>
						<td>ID, grade level, paid payment status, purchased product, class time</td>
					</tr>
					<tr>
						<td>Access frequency identification, service usage statistics/analysis</td>
						<td>Gender, membership classification (general, student, teacher, parent, etc.), paid payment</td>
					</tr>
					<tr>
						<td>Sending periodicals, introducing new products or services + Web service and event planning that meet customer interests </td>
						<td>Additional information that was not recorded at the time of membership registration (parent mobile phone number, address, school name, grade, family information), grades (excel arrangement), academic calendar</td>
					</tr>
					<tr>
						<td>Provides various learning information and event news</td>
						<td>ID, name, mobile phone number, e-mail, whether to receive advertisements</td>
					</tr>
				</tbody></table>
				</div>
				<p>▶ Information generated in the process of using the service:</p>
				<br>
				<table class="privacy_table">
					<tbody><tr>
						<th style="width: 30%;">Category</th>
						<th style="width: 40%;">Items of personal information to be collected</th>
						<th>Retention period</th>
					</tr>
					<tr>
						<td>Identification</td>
						<td>Age, age group</td>
						<td rowspan="2">Member withdrawal or legal obligation retention period ※ The collected cookie information can be rejected through a web browser. Details can be checked through the opt-out right of the user who installs and operates cookies below.</td>
					</tr>
					<tr>
						<td>Service usage statistics, etc.</td>
						<td>IP address, cookie, date of visit, service usage record ※ Mobile device information when using mobile service (unique device identification information, OS version)</td>
					</tr>
				</tbody>
				</table>
			</div>

			<div class="privacy_2 article">
				<p class="title">2. Use of Collected Personal Information</p>
				<p class="marginbottom">IMAGEONE CO., Ltd. processes personal information for the following purposes. The personal information being processed is not used for purposes other than the following purposes, and if the purpose of use changes, we will take necessary measures, such as obtaining consent in advance.</p>
				<table class="privacy_table">
					<tbody><tr>
						<th style="width: 30%;">Category</th>
						<th>Purpose of use</th>
					</tr>
					<tr>
						<td>Service (including mobile web/app) membership registration and management</td>
						<td>Confirmation of intention to sign up as a member, identification and authentication according to membership service provision, maintenance and management of membership qualifications, identification according to enforcement of limited identification system, prevention of illegal use of services, consent of legal representative when processing personal information of children under 14 are processed for the purpose of verification, various notices and notifications, and grievance handling.</td>
					</tr>
					<tr>
						<td>Provision of goods or services</td>
						<td>Personal information is provided for the purpose of delivering goods, providing services, sending contracts and invoices, providing contents, providing customized services, personal authentication, age verification, purchase and payment, settlement, debt collection, event/gift winning results information, and product delivery. Process.</td>
					</tr>
					<tr>
						<td>Used for marketing and advertising</td>
						<td>Providing optimized services to customers, developing and specializing new services (products), providing services according to demographic characteristics and posting advertisements, identifying webpage access frequency, analyzing product/service usage results, sending periodicals, new products or services Personal information is processed for the purpose of information, web service and event planning that meet customer interests, delivery of advertising information such as sweepstakes, events, customer surveys, and service and product information.</td>
					</tr>
				</tbody></table>
			</div>

			<div class="privacy_3 article">
				<p class="title">3. Destruction of Personal Information</p>
				<ul class="list">
					<li class="article_head">IMAGEONE Co., Ltd. destroys the personal information without delay when the purpose of collecting/using the user's personal information is achieved. However, if the law imposes an obligation to keep information and if the user has obtained separate consent for the storage period, personal information is kept safely for that period. We keep personal information of dormant accounts (accounts which have not used the service for the last 12 months, or members which have chosen the expiration date directly) in a separate DB to protect the personal information of users who have not serviced for a long time. The period of non-use is calculated based on the date of login and contact with the agent. IMAGEONE Co., Ltd. notifies the relevant user through e-mail, etc. 30 days before the time of separation/storage of user personal information. We destruct your personal information by shredding and incinerating for the information printed on paper and delete using a technical method that cannot reproduce the record for the information in the form of electronic files.</li>
				</ul>
			</div>

			<div class="privacy_4 article">
				<p class="title">4. Measures To Ensure The Safety of Personal Information</p>
				<ol class="list" style="margin-bottom:40px;">
					<p class="article_head">IMAGEONE Co., Ltd. values ​​users' personal information and makes the following efforts in handling personal information.</p>
					<br>
					<div>
						<li class="article_head list-lowRoman">Establishment of Internal Management Plan</li>
						<p class="marginbottom">We have established and implemented an internal management plan as a standard for safe handling of personal information.</p>
					</div>
					<div>
						<li class="article_head list-lowRoman">Minimize Personal Information Handlers</li>
						<p class="marginbottom">Regular training is provided for personal information handlers, and the importance of personal information is emphasized by disseminating personal information issues to all employees.</p>
					</div>
					<div>
						<li class="article_head list-lowRoman">Regular Training</li>
						<p class="marginbottom">We minimize the number of employees who process personal information, and reduce the possibipty of personal information leakage by separating the external Internet network and the internal network for the employees' PC. In addition, we systematically estabpsh access control standards for databases and personal information processing systems that process personal information, and conduct continuous audits.</p>
					</div>
					<div>
						<li class="article_head list-lowRoman">Protection from Hacking and Viruses</li>
						<p class="marginbottom">The system is installed in an area where access is controlled from outside to protect from leakage or damage of personal information. In addition, we perform regular backups in preparation for damage to personal information and prevent data leakage and damage by using vaccine programs.</p>
					</div>
					<div>
						<li class="article_head list-lowRoman">Encryption of Personal Information</li>
						<p class="marginbottom">When transmitting the user's personal information, an encrypted communication section is used, and important information such as passwords is encrypted using a secure encryption algorithm.</p>
					</div>
					<div>
						<li class="article_head list-lowRoman">Physical Control</li>
						<p class="marginbottom">Systems related to personal information processing are located in the control area and access is controlled. In addition, documents containing personal information and auxiliary storage media are stored in a safe place with a lock.</p>
					</div>
				</ol>
			</div>

			<div class="privacy_5 article">
				<p class="title">5. Children’s Privacy</p>
				<ul class="list" style="margin-bottom:40px;">
					<li class="article_head">Our Parent’s app is intended to be used by the children under 14 only with the consent and oversight of a parent or by a teacher or school for use as part of the school's curriculum and for checking up the school records of the children by their parents or legal guardians. If the App is downloaded on a personal device, the parent can view their child's information (user name and learning activities completed) at any time in the App by logging in to the child's class account using the child’s ID address and password. The parent can delete the App from the child's device at any time, but the child’s personal information (username and learning activities completed) will continue to be associated with the teacher’s class account until the teacher deletes such information.</li>
					<br>
					<li class="article_head">If you are a parent, and you have questions about reviewing, modifying, or deleting your child’s personal information, or you have questions about your child's use of our IMAGEONE Parents’ App for school purposes, please contact your child's teacher or school directly.</li>
				</ul>
			</div>

			<div class="privacy_6 article">
				<p class="title">6. Notification obligation</p>
				<ul class="list" style="margin-bottom:30px;">
					<li class="article_head">This privacy policy is effective from <strong style="color: red;">December ***, 2020.</strong></li>
					<br>
					<li class="article_head">If there are any additions, deletions, or modifications to the contents of the personal information processing policy, we will notify you through notice at least 7 days before the effective date. We will notify you at least 30 days in advance in the event of changes that are important to your rights or obligations.</li>
				</ul>
			</div>

			<div class="privacy_7 article">
				<p class="title">7. Contact Us</p>
				<p class="marginbottom">If you have any questions or suggestions regarding our Privacy Policy, do not hesitate to contact us at </p>
				<ul class="list">
					<li class="article_head">Address: No.877, 3rd floor(B), 4th Ward, Byamaso Road, South Okkalapa, Yangon, Myanmar. (Postal Code – 11091)</li>
					<br>
					<li class="article_head">Phone Number: (+95) 9 898 900 858</li>
				</ul>
			</div>
		</div>
	</div>
</div>
