<div id="sub_div">	
	<div class="subpage_titlebox english" style=" ">
		<div class="subpage_textbox inner">
			<p class="subpage_title">ENGLISH FOR KIDS</p>
			<p class="subpage_article">Visang သည် မတူညီသောရှုထောင့်များမှ လွတ်လပ်သောစိတ်ဉာဏ်ကွန့်မြူးမှုများဖြင့် နိုင်ငံတကာ တန်းယှဉ်နိုင်သော ပညာရေးထုံးတမ်းအသစ်ကို ဖန်တီးခဲ့ပါတယ်။</p>
			<br>
			<p class="subpage_article">ကျွန်ုပ်တို့ရဲ့ IMAGEONE ကုမ္ပဏီဟာ WINGs ရဲ့ပညာရေးဆိုင်ရာ ဒီဂျစ်တယ်ထုတ်ကုန်များနှင့် သင်ထောက်ကူပစ္စည်းတွေကို မြန်မာနိုင်ငံမှာ တရားဝင်ဖြန့်ချီခွင့် ရရှိထားတဲ့ တစ်ဦးတည်းသော ကုမ္ပဏီတစ်ခုဖြစ်ပါတယ်။</p>
			{{!-- <p class="subpage_path">
				<a href="/sub/category-all.php">Product</a> &gt; <!--a href="#"-->ENGLISH<!--/a-->
			</p> --}}
		</div>
	</div>
	<div class="inner inner_x ">

<div class="product_introduce_page" id="wings">
	<div class="inner">
		<div class="pip_title">
			<img src="logo_wings.png" alt="" class="pip_logo aos-init aos-animate" data-aos="fade-up">
			<p class="pip_bigtext aos-init" data-aos="fade-up"><span class="strong">Interactive smart English learning program</span> for preschoolers</p>
			<p class="pip_smalltext aos-init" data-aos="fade-up">
				Wings ကို ဆရာမနဲ့ ကျောင်းသားကြား အချင်းချင်း အပြန်အလှန်တက်ကြွစွာ ပြောဆိုဆက်သွယ်မှုကို ပိုမို တိုးမြင့်နိုင်စေရန် ဖန်တီးခဲ့တာဖြစ်ပါတယ်။ ဆရာမနဲ့ ကျောင်းသားများ အပြန်အလှန် ပြောဆိုဆက်ဆံနိုင်ရုံသာမက၊ အတန်းတွင်းမှ ကျောင်းသားများ အချင်းချင်းကိုလည်း အပြန်အလှန်ဆက်ဆံနိုင်စေဖို့ smart boards တွေ pads တွေကို အသုံးပြုပြီး ကျောင်းသားအားလုံး သင်ခန်းစာကို တက်ကြွစွာ ပါဝင်သင်ယူနိုင်စေမှာဖြစ်ပါတယ်။
			</p>
			<img src="img_sub01_01.png" alt="" class="pip_mainimg aos-init" data-aos="fade-up">
		</div>
		<div class="pip_content">
			<p class="pip_bigtext aos-init" data-aos="fade-up"><span class="strong">Multi-dimensional</span> learning environment</p>
			<p class="pip_smalltext aos-init" data-aos="fade-up">
				ဒီဂျစ်တယ်စက်ပစ္စည်းများကို အသုံးပြုပြီး ရှုထောင့်ပေါင်းစုံမှ လေ့လာသင်ယူနိုင်‌သော အခြေအနေတစ်ခုကို ဖန်တီးလိုက်ရုံသာမက သင်ကြားရေးပိုင်းမှာ ပို့ချပေးသွားမည့် သင်ခန်းစာများကိုလည်း ကလေးများရဲ့ အသက်အရွယ်နှင့် ကိုက်ညီအောင် ထုတ်လုပ်ထားပါတယ်။
			</p>
			<img src="img_sub01_02.png" alt="" class="pipc_img aos-init" data-aos="fade-up">
		</div>
		<div class="pip_content">
			<p class="pip_bigtext aos-init" data-aos="fade-up">Balanced <span class="strong">language skills</span></p>
			<p class="pip_smalltext aos-init" data-aos="fade-up">
				Smart education environment (ခေတ်သစ်ပညာရေးပတ်ဝန်းကျင်) အနေနှင့် ကလေးများအား သင်ကြားမှုအပေါ် အနှောက်အယှက်ကင်းကင်းဖြင့် အာရုံစူးစိုက်နိုင်အောင် ကူညီပေးပြီး native speaker မဟုတ်တဲ့ ဆရာ/မများနှင့်လည်း အရည်အသွေးမြင့် သင်ကြားရေးစနစ်ကို ဖြစ်မြောက်စေအောင် လုပ်ဆောင်‌ပေးပါတယ်။
			</p>
			<img src="img_sub01_03.png" alt="" class="pipc_img aos-init" data-aos="fade-up">
		</div>
		<div class="pip_content">
			<p class="pip_bigtext aos-init" data-aos="fade-up"><span class="strong">Digital content suitable</span> for preschoolers</p>
			<p class="pip_smalltext aos-init" data-aos="fade-up">
				သင်ခန်းစာများနှင့် သင်ထောက်ကူပစ္စည်းများကို မူကြိုကလေးတို့ရဲ့ ဖွံ့ဖြိုးမှုအခြေအနေနှင့် စရိုက်လက္ခဏာများပေါ် မူတည်ပြီး တီထွင်ဖန်တီးထားတာ ဖြစ်ပါတယ်။ အင်္ဂလိပ်အက္ခရာစကားလုံးနှင့် 3D ဇာတ်ကောင်များကို အခြေခံထားသော သီချင်းများ၊ အကများဟာ ကလေးများရဲ့ စိတ်ကူးစိတ်သန်း အသစ်အသစ်များကို ဖော်ဆောင်ပေးနိုင်မှာပဲဖြစ်ပါတယ်။
			</p>
			<img src="img_sub01_04.png" alt="" class="pipc_img aos-init" data-aos="fade-up">
		</div>
	</div>

	<div class="outside_bgcolor aos-init" data-aos="fade-up"><!-- 회색 바탕 -->
		<div class="inner">
			<div class="pip_content aos-init" data-aos="fade-up">
				<p class="pip_bigtext aos-init" data-aos="fade-up"><span class="strong">Learning books linked</span> with digital content</p>
				<p class="pip_smalltext aos-init" data-aos="fade-up">
					သင်ကြားရေးစာအုပ်တွေကိုလည်း ကျောင်းသားများအတွက် ကွဲပြားသော နည်းလမ်းအမျိုးမျိုးနဲ့ပါ လေ့လာသင်ယူနိုင်အောင် ဒီဂျစ်တယ်သင်ခန်းစာတွေနှင့် ၁၀၀ ရာခိုင်နှုန်း ကိုက်ညီအောင် ထုတ်လုပ်ထားပါတယ်။
				</p>
				<img src="img_sub01_05.png" alt="" class="pipc_img aos-init" data-aos="fade-up">
			</div>
		</div>
	</div><!-- 회색 바탕 -->

	<div class="inner">
		<div class="pip_content subject_contents">
			<p class="pip_bigtext aos-init" data-aos="fade-up">Learning <span class="strong">book content</span></p>
			<p class="pip_smalltext aos-init" data-aos="fade-up">
				Wings English Program ကို ၃နှစ် သင်ရမည်ဖြစ်ပြီး တစ်နှစ်ကို Level တစ်ခုစီနှင့် Level တစ်ခုတွင် စာအုပ်အစုံ ၁၀စုံ (နံပါတ် ၁ နှင့် ၆ တွင်တော့ ဖတ်စာအုပ်တစ်အုပ်စီ) ပါဝင်ပါတယ်။ ၃နှစ်စာအတွက် စုစုပေါင်း စာအုပ် အစုံ ၃၀ ပါဝင်မှာဖြစ်ပါတယ်။
			</p>
			<div class="pipc_img_horizontal">
				<div class="pipc_img_item aos-init" data-aos="fade-up">
					<p class="img_title">LEVEL 1</p>
					<img src="img_sub01_06.png" alt="">
				</div>
				<div class="pipc_img_item aos-init" data-aos="fade-up" data-aos-delay="50">
					<p class="img_title">LEVEL 2</p>
					<img src="img_sub01_07.png" alt="">
				</div>
				<div class="pipc_img_item aos-init" data-aos="fade-up" data-aos-delay="100">
					<p class="img_title">LEVEL 3</p>
					<img src="img_sub01_08.png" alt="">
				</div>
			</div>
			<a href="/download/Wings_Sample_Book.zip" class="pipc_btn aos-init" data-aos="fade-up">Download Book Sample</a>
		</div>

		<div class="pip_content">
			<p class="pip_bigtext aos-init" data-aos="fade-up"><span class="strong">Spiral curriculum</span> for repeated and<br>expansive learning of the same subjects</p>
			<p class="pip_smalltext aos-init" data-aos="fade-up">
				ဒီဂျစ်တယ်နည်းပညာနဲ့ သင်ယူနိုင်ရုံသာမက Wings English Program မှာ ကလေးများရဲ့ ဖွံ့ဖြိုးမှု အခြေအနေအ‌ရ ဇာတ်လမ်းပြောပြခြင်းနှင့် ဘာသာစကားသင်ကြားရေးသာမက ဘက်ပေါင်းစုံသင်ကြားရေး activities တွေအပေါ် မူတည်ထားတဲ့ အခြေခံသင်္ချာ၊ သိပ္ပံနှင့် အနုပညာဆိုင်ရာ သင်ခန်းစာများပါ ညီမျှစွာ ပူးတွဲသင်ကြားပေးပါတယ်။
			</p>
			<img src="img_sub01_09.png" alt="" class="pipc_img align_center aos-init" data-aos="fade-up">
		</div>

		<div class="pip_content curriculum">
			<p class="pip_bigtext aos-init" data-aos="fade-up" style="font-size: 30px;line-height: 55px;">သင်ရိုးညွှန်းတမ်းများကိုလည်း မူကြိုကလေးများအတွက်<br>
				<span class="strong-mm position-relative">ပျော်ရွှင်ဖွယ် သင်ယူမှုအတွေ့အကြုံများ</span> ရရှိနိုင်အောင် အကောင်းဆုံးဖန်တီးထားပါတယ်။</p>
			<!--p class="pip_smalltext" data-aos="fade-up">
				Step-by step learning: Step 1. Family (360 words).<br>
                Step 2. Neighbors (630 words), and<br>
                Step 3. Communicate with the World (960 words).
			</p-->
			<p class="pip_subtext aos-init" data-aos="fade-up">Level ဆယ်ခုကို ၁၀လသင်ပြီး အပိုဆောင်း ပြန်လည်သင်ကြားခြင်းလေ့ကျင့်ခန်းကို ၂လ သင်မှာဖြစ်ပါတယ်။</p>
			<img src="img_sub01_10.png" alt="" class="pipc_img aos-init" data-aos="fade-up"><br>
			<a href="/download/WingsSyllabus.pdf" class="pipc_btn aos-init" data-aos="fade-up" target="_blank">Download Syllabus</a>
			<p class="pip_subtext aos-init" data-aos="fade-up">Lexile level of Wings</p>
			<img src="table_lexile.png" alt="" class="pipc_img aos-init" data-aos="fade-up"><br>
			<!--img src="https://global.visang.com/theme/basic/img/logo_lexile.png" alt="" style="margin-top:20px;" data-aos="fade-up"-->
		</div>

		<div class="pip_content">
			<p class="pip_bigtext aos-init" data-aos="fade-up">Growing with improving <span class="strong">English skills</span></p>
			<p class="pip_smalltext aos-init" data-aos="fade-up">
				မိဘတွေ အသုံးပြုတဲ့ Parents’ app ကို  Wings! app နဲ့ ချိတ်ဆက်ထားတဲ့အတွက် Parents’ app ထဲမှာ ကျောင်းကသင်ကြားပေးတဲ့ သင်ခန်းစာတွေကိုလည်း ကြည့်လို့ရနိုင်သလို မိမိကလေးရဲ့ တိုးတက်မှုအခြအနေကိုပါ အချိန်‌နေရာမရွေး စောင့်ကြည့်လို့ရနိုင်ပါတယ်။
			</p>
			<img src="img_sub01_11.png" alt="" class="pipc_img aos-init" data-aos="fade-up">
		</div>

		<div class="pip_content">
			<p class="pip_bigtext aos-init" data-aos="fade-up"><span class="strong">Global footprints</span> of Wings</p>
			<p class="pip_smalltext aos-init" data-aos="fade-up">
				2016, Signed supply agreements with the Chinese company, New Oriental Education<br>
				2018, Signed supply agreements with the Vietnamese company, American Learning Lab<br>
				2019, Signed supply agreements with the Chinese company, Angels Education.
			</p>
			<img src="img_sub01_12.png" alt="" class="pipc_img aos-init" data-aos="fade-up">
		</div>
		<div class="pip_content aos-init" data-aos="fade-up">
			<p class="pip_bigtext"><span class="strong">Video &amp; Brochure</span></p>
			<div class="pip_movie_brocher">
				<div class="movie">
					<div class="box">
						<video src="/download/WingsEnglishProgram(Myansub).mp4" controls></video>
					</div>
					<a href="https://youtu.be/J6LNNn5_nUM" class="pipc_btn" target="_blank" savefrom_lm_index="0" savefrom_lm="1">Watch Video</a><span style="padding: 0; margin: 0; margin-left: 5px;"><a href="http://savefrom.net/?url=https%3A%2F%2Fyoutu.be%2FJ6LNNn5_nUM&amp;utm_source=chameleon&amp;utm_medium=extensions&amp;utm_campaign=link_modifier" target="_blank" title="Get a direct link" savefrom_lm="1" savefrom_lm_is_link="1" style="background-image: url(&quot;data:image/gif;base64,R0lGODlhEAAQAOZ3APf39+Xl5fT09OPj4/Hx8evr6/3+/u7u7uDh4OPi497e3t7e3/z8/P79/X3GbuXl5ubl5eHg4WzFUfb39+Pj4lzGOV7LOPz7+/n6+vn5+ZTLj9/e387Ozt7f3/7+/vv7/ISbePn5+m/JV1nRKXmVbkCnKVrSLDqsCuDh4d/e3uDn3/z7/H6TdVeaV1uSW+bn5v39/eXm5eXm5kyHP/f39pzGmVy7J3yRd9/f3mLEKkXCHJbka2TVM5vaZn6Wdfn6+YG/c/r5+ZO/jeLi41aHTIeageLn4f39/vr6+kzNG2PVM5i+lomdf2CXYKHVmtzo2YXNeDqsBebl5uHh4HDKWN3g3kKqEH6WeZHTXIPKdnSPbv79/pfmbE7PHpe1l4O8dTO5DODg4VDLIlKUUtzo2J7SmEWsLlG4NJbFjkrJHP7+/VK5Nfz8+zmnC3KKa+Hg4OHh4Y63j/3+/eDg4Ojo6P///8DAwP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAHcALAAAAAAQABAAAAfWgHd2g4SFhYJzdYqLjIpzgx5bBgYwHg1Hk2oNDXKDFwwfDF5NLmMtcStsn4MhGT8YS04aGmU1QRhIGYMTADQAQlAODlloAMYTgwICRmRfVBISIkBPKsqDBAREZmcVFhYVayUz2IMHB1dWOmImI2lgUVrmgwUFLzdtXTxKSSduMfSD6Aik48MGlx05SAykM0gKhAAPAhTB0oNFABkPHg5KMIBCxzlMQFQZMGBIggSDpsCJgGDOmzkIUCAIM2dOhEEcNijQuQDHgg4KOqRYwMGOIENIB90JBAA7&quot;); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; border: none; text-decoration: none; padding: 0px; position: relative;"></a></span>
				</div>
				<div class="brocher">
					<div class="box">
						<iframe src="https://drive.google.com/file/d/1GAA2JaAN4TkE3_XwHuV2lL-fwirdt0o4//preview" width="640" height="480"></iframe>
					</div>
					<a href="https://drive.google.com/file/u/0/d/1GAA2JaAN4TkE3_XwHuV2lL-fwirdt0o4//view" class="pipc_btn" target="_blank">View Brochure</a>
				</div>

			</div>
		</div>
	</div>
</div>



	</div>
</div>