<div class="footer container-fluid">
	<div class="foot_top row">
		<div class="inner clearfix col-md-4">
			<div class="ft_logo w-100 text-center">
				<img src="imageone.png" alt="" class="toolbar-img">
			</div>
		</div>
		<div class="inner clearfix col-md-4 tcs bl-2o">
			<h4 class="tco fs-1 mb-3">Yangon Branch</h4>
			<ul class="ft_info">
			<li><strong>Address: </strong>No.877, 3rd floor(B), 4th Ward, Byamaso Road, South Okkalapa, Yangon, Myanmar.</li>
			{{!-- <li class="clear"> (Postal Code – 11091)</li> --}}
			<li class="rp_clear"><strong>Phone No: </strong> +95 9 898 900 858</li>
			<li class="clear"><strong>Email: </strong> info@imageonemm.com</li>
			</ul>
		</div>
		<div class="inner clearfix col-md-4 tcs bl-2o">
			<h4 class="tco fs-1 mb-3">Mandalay Branch</h4>
			<ul class="ft_info tcs">
			<li><strong>Address: </strong>59/22B, 27th (B) Street, Bet: 58*59th Street, Ye Mon Taung Qtr, Mahar Aung Myae Township, Mandalay, Myanmar.</li>
			{{!-- <li class="clear"> (Postal Code – 11091)</li> --}}
			<li class="rp_clear"><strong>Phone No: </strong> +95 9 521 0294</li>
			<li class="clear"><strong>Email: </strong> wingsmandalay@gmail.com</li>
			</ul>
		</div>
		<div class="col-md-12 text-right">
			<p><LinkTo @route="privacy-policy" class="tcs o-hover">Privacy Policy</LinkTo></p>
		</div>
	</div>

	<div class="foot_btm">
		<div class="row inner clearfix">
			<div class="col-md-12 m-auto">
				<ul class="text-center">
					<li class="tcs">Copyright © IMAGEONE Co., Ltd. All Rights Reserved</li>
				</ul>
			</div>	
		</div>
	</div>
</div>