<div class="header activated">
	<div class="header_inside">
		<div class="head_logo">
			<a href="https://global.visang.com"></a>
			<LinkTo @route="index"><img src="imageone.png" alt="" class="toolbar-img"></LinkTo>
		</div>
		<div class="y-head_lnb">
			<ul class="y-clearfix">
				<li>
					<a href="https://m.youtube.com/channel/UCEHmS40e4WrHMWKHLcF3f6A" target="_blank">
						<img src="youtube.svg" alt="" class="nav-icon">
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/WingsEnglishProgramMyanmar" target="_blank">
						<img src="facebook.svg" alt="" class="nav-icon">
					</a>
				</li>
				<li>
					<LinkTo @route="index">
					<img src="home-shape.svg" class="nav-icon">
					</LinkTo>
				</li>
				<li>
					<BsDropdown @tagName="span" as |dd|>
					<dd.toggle class="lang p-0">
					EN
					<span class="caret"></span>
					</dd.toggle>
					<dd.menu as |menu|>
					<menu.item class="padding-0">
						<menu.link-to @route="mm" class="lang m-0">MM</menu.link-to>
					</menu.item>
					</dd.menu>
				</BsDropdown>
				</li>
				<li class="head_company">Company</li>
			</ul>
		</div>
	</div>
</div>

{{!-- <nav class="header activated">
	<div class="header_inside">
		<div class="head_logo">
			<a href="https://global.visang.com"></a>
			<LinkTo @route="index"><img src="imageone.png" alt="" class="toolbar-img"></LinkTo>
		</div>
		<div class="head_lnb">
			<ul class="clearfix">
				<li>
					<a href="https://m.youtube.com/channel/UCEHmS40e4WrHMWKHLcF3f6A" target="_blank">
						<img src="youtube.svg" alt="" class="nav-icon">
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/WingsEnglishProgramMyanmar" target="_blank">
						<img src="facebook.svg" alt="" class="nav-icon">
					</a>
				</li>
				<li>
					<LinkTo @route="index">
					<img src="home-shape.svg" class="nav-icon">
					</LinkTo>
				</li>
				<li>
					<BsDropdown @tagName="span" as |dd|>
					<dd.toggle class="lang">
					EN
					<span class="caret"></span>
					</dd.toggle>
					<dd.menu as |menu|>
					<menu.item class="padding-0">
						<menu.link-to @route="mm" class="lang m-0">MM</menu.link-to>
					</menu.item>
					</dd.menu>
				</BsDropdown>
				</li>
				<li class="head_company">Company</li>
			</ul>
		</div>
	</div>
</nav> --}}
